.parallax {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
/*@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}*/

.page-header {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.margins {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

form {
  margin-top: 1em;
  margin-bottom: 1em;
}

#A {
  background-image: url("../images/IMG_2901_crop.png");
  background-color: #B0C4DE;
  background-blend-mode: multiply;
}
#B {
  background-image: url("../images/10.jpg");
  background-color: #B0C4DE;
  background-blend-mode: normal;
}

body, html {
  height: 100%;
}

.color-prime {
  background-color: #65909A;
}

.color-aux {
  background-color: #95B8C5;
}

#Title {
  background-color: transparent;
}
