<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">projects</a></li>
	        		<li><a href="/other design">other design</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:brandonjianchen@gmail.com">email</a></li>
	        		<li><a href="https://github.com/brandonchen">github.com/brandonchen</a></li>
				</ul>
			</footer>
		</body>
	</html>
